@using FormReporting.Models.ViewModels.Forms
@{
    var model = ViewData["TemplateDetails"] as TemplateDetailsViewModel;
}

<!-- Metrics Panel: KPI mappings -->
<div id="metrics-panel">
    <!-- TODO: Implement metric mapping panel -->
</div>
