@using FormReporting.Models.ViewModels.Forms
@{
    var model = ViewData["TemplateDetails"] as TemplateDetailsViewModel;
    if (model == null) return;
}

<!-- Overview Panel: Statistics + Quick Info -->
<div id="overview-panel">
   </div>
