@using FormReporting.Models.ViewModels.Forms
@{
    var model = ViewData["TemplateDetails"] as TemplateDetailsViewModel;
}

<!-- Structure Panel: Sections & Fields Preview -->
<div id="structure-panel">
    <!-- TODO: Implement structure panel -->
</div>
