@using FormReporting.Models.ViewModels.Forms
@{
    var model = ViewData["TemplateDetails"] as TemplateDetailsViewModel;
}

<!-- Submissions Panel: List of submissions -->
<div id="submissions-panel">
    <!-- TODO: Implement submissions panel -->
</div>
