@using FormReporting.Models.ViewModels.Forms
@{
    var model = ViewData["TemplateDetails"] as TemplateDetailsViewModel;
}

<!-- Workflow Panel: Visual workflow designer -->
<div id="workflow-panel">
    <!-- TODO: Implement workflow builder panel -->
</div>
