@*
    SECTION TABS: Tab navigation for section details
*@

<ul class="nav nav-tabs nav-tabs-custom mb-3" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#section-general" role="tab">
            <i class="ri-file-list-line me-1"></i>General
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#section-display" role="tab">
            <i class="ri-layout-line me-1"></i>Display
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#section-fields" role="tab">
            <i class="ri-list-unordered me-1"></i>Fields
        </a>
    </li>
</ul>
