@model StatCardGroupConfig

<div class="row @Model.RowClass @Model.MarginBottom">
    @foreach (var card in Model.Cards)
    {
        <div class="@Model.ColumnClass">
            <partial name="~/Views/Shared/Components/Dashboard/Composite/_StatCard.cshtml"
                     model="card" />
        </div>
    }
</div>
