@model FormReporting.Models.ViewModels.Dashboard.Components.Composite.TrendIndicatorConfig

@if (Model.Show)
{
    <p class="mb-0 text-muted">
        <partial name="~/Views/Shared/Components/Dashboard/Atomic/_Badge.cshtml"
                 model="Model.Badge" />
        @if (!string.IsNullOrEmpty(Model.ComparisonText))
        {
            <text> </text>@Model.ComparisonText
        }
    </p>
}
