@model FormReporting.Models.ViewModels.Forms.FormBuilderViewModel

@*
    RIGHT PANEL: Properties
    Shows properties of selected field or section
*@

<div class="properties-content">
    <!-- Properties Tabs -->
    <ul class="nav nav-tabs nav-tabs-custom nav-justified border-bottom" role="tablist">
        <li class="nav-item" id="tab-general">
            <a class="nav-link active" data-bs-toggle="tab" href="#prop-general" role="tab">
                General
            </a>
        </li>
        <li class="nav-item" id="tab-configuration">
            <a class="nav-link" data-bs-toggle="tab" href="#prop-configuration" role="tab">
                Configuration
            </a>
        </li>
        <li class="nav-item" id="tab-validation">
            <a class="nav-link" data-bs-toggle="tab" href="#prop-validation" role="tab">
                Validation
            </a>
        </li>
        <li class="nav-item" id="tab-advanced">
            <a class="nav-link" data-bs-toggle="tab" href="#prop-advanced" role="tab">
                Advanced
            </a>
        </li>
    </ul>

    <!-- Tab Content -->
    <div class="tab-content p-3">
        <!-- General Tab -->
        <div class="tab-pane fade show active" id="prop-general" role="tabpanel">
            <partial name="~/Views/Forms/FormTemplates/Partials/FormBuilder/Properties/_PropertiesGeneral.cshtml" model="Model" />
        </div>

        <!-- Configuration Tab -->
        <div class="tab-pane fade" id="prop-configuration" role="tabpanel">
            <partial name="~/Views/Forms/FormTemplates/Partials/FormBuilder/Properties/_PropertiesConfiguration.cshtml" model="Model" />
        </div>

        <!-- Validation Tab -->
        <div class="tab-pane fade" id="prop-validation" role="tabpanel">
            <partial name="~/Views/Forms/FormTemplates/Partials/FormBuilder/Properties/_PropertiesValidation.cshtml" model="Model" />
        </div>

        <!-- Advanced Tab -->
        <div class="tab-pane fade" id="prop-advanced" role="tabpanel">
            <partial name="~/Views/Forms/FormTemplates/Partials/FormBuilder/Properties/_PropertiesAdvanced.cshtml" model="Model" />
        </div>
    </div>
</div>
